@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

$kleurtheo: cornflowerblue;
$secundaire-kleur-donker: #48592D;
$secundaire-kleur: #81D742;
$hoofdkleur-lichter: #4F82FF;
$contrast-kleur: #FF652A;
$achtergrond-donkerder:#cccccc;

$mijnFont: 'DM Mono', monospace;